@model IEnumerable<TheWayShop_2._0.Models.Category>

<p>
    <a asp-action="CreateCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryItem.id)
                </td>
                <td>
                    <a asp-action="EditCategory" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="DetailsCategory" asp-route-id="@item.id">Details</a> |
                    <a asp-action="DeleteCategory" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="text-align:right">
    @Html.ActionLink("Back to List of things", "Index")
</div>
