@model IEnumerable<TheWayShop_2._0.Models.Thing>

<p style="text-align:center;">
    <a asp-action="Create" style="color:darkblue">Create New</a>
</p>
<p style="text-align:center">
    <a asp-action="Categories" style="color:rebeccapurple">Go to Categories</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
              URL to image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.id)
            </td>
            <td>
                <img src="@Url.Content(item.img)" style="width:100px;height:100px"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" style="color:green">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id" style="color:chocolate">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id" style="color:red">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p style="text-align:right">
    <a asp-action="Categories" style="color:rebeccapurple">Go to Categories</a>
</p>
